[submodule "deps/wil"]
	path = deps/wil
	url = https://github.com/microsoft/wil.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/detours"]
	path = deps/detours
	url = https://github.com/microsoft/Detours.git
